#body{
position: static;
}

#body #coinflip{
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 25px;
    font-style: italic;
    /* background-image: url("/CoinFlip/coinflip_blue.png"); */
    
    background-color: black;
    height: 150px;
    width: 150px;
}

#body #coinflip:hover{
    text-shadow:  0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff;
    cursor: pointer;
}