body {
  margin: 0;
}

#background_img{
  background-image: url("/images/munchlax_background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 300vh;
  width: 100vw;
}

#home-layout-grid {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 110px 1fr 350px;
  grid-template-rows: 50px 90px 1fr;
  box-sizing: border-box;
}
header {
  grid-column: 1 / 3;
  border: 1px solid black;
}
#sidebar {
  grid-row: 2 / 4;
  border: 1px solid black;
}
#main-banner {
  grid-column: 2 / 3;
  grid-row: 2/3;
  border: 1px solid black;
}
#info-bar {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  border: 1px solid black;
}
#body {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  border: 1px solid black;
  height: 3000px;
}

#home-layout-grid {
  font-family: Arial;
  font-size: 20px;
}