#sidebar-popular-button{
  background-color: #407cbf;
  border-radius: 5px;
  font-size: 17px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  margin-top: 10px;
  margin-left: 5px;
}
#sidebar-popular-button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#sidebar-favorites-button{
  background-color: #25da7a;
  border-radius: 5px;
  font-size: 14.5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  margin-top: 10px;
  margin-left: 5px;
  
}
#sidebar-favorites-button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#sidebar-sports-button{
  background-color: #8e43bc;
  border-radius: 5px;
  font-size: 14.5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  margin-top: 10px;
  margin-left: 16px;
}
#sidebar-sports-button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

